<div class="section section-nude section-start text-center ">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>Start scheduling now!</h2>
                <h5>First month is free</h5>
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <a [routerLink]=" ['./registration'] " class="btn btn-danger btn-block btn-lg btn-fill">Register now</a>
        </div>
    </div>

    <div class="sharing-area text-center">
        <h4>Spread the word!</h4>
        <a href="#" class="btn btn-primary">
            <i class="fab fa-facebook-square"></i>
            Facebook
        </a>

        <a href="#" class="btn btn-info">
            <i class="fab fa-twitter"></i>
            Twitter
        </a>
    </div>
</div>