<div class="wrapper">
    <div class="register-background">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <h3 class="title text-center text-white">Your meetings</h3>

                    <div class="text-red">
                        <button class="btn btn-block btn-sm">Previous meetings</button>
                    </div>

                    <br>
                    <div class="timeline text-white">
                        <h5 class="timelineItems"><u>Meeting with Elon </u></h5>
                        <p class="timelineItems">Time: 18:00</p>
                        <p class="timelineItems">Location: SpaceX HQ</p>
                        <p class="timelineItems">Participants: Cheese and Tomato</p>
                        <a><p class="timelineItems"> <i class="far fa-trash-alt" aria-hidden="true"></i> Delete</p></a>
                    </div>

                    <br>

                    <div class="timeline text-white">
                        <h5 class="timelineItems"><u>Meeting with Margot</u></h5>
                        <p class="timelineItems">Time: 20:00</p>
                        <p class="timelineItems">Location: Hollywood</p>
                        <p class="timelineItems">Participants: Cheese, Tomato and Onions</p>
                        <a><p class="timelineItems"> <i class="far fa-trash-alt" aria-hidden="true"></i> Delete</p></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>