<div class="section text-center landing-section">
    <div class="container">
        <div class="row">
            <h2>How does it work?</h2>
            <div class="col-md-4 column">
                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                <h4>Sign up your team</h4>
                <p>Sign up all members of your team</p>
            </div>

            <div class="col-md-4 column">
                <i class="far fa-calendar-alt fa-5x" aria-hidden="true"></i>
                <h4>Connect your calendars</h4>
                <p>We support Google Calendar and Outlook</p>
            </div>

            <div class="col-md-4 column">
                <i class="far fa-handshake fa-5x" aria-hidden="true"></i>
                <h4>See all available slots</h4>
                <p>Select people you want to meet and Test will automatically find the best time</p>
            </div>
        </div>
    </div>
</div>
