carousel {
  .carousel {
    @media (max-width: 768px) {
      position: static;
    }

    .carousel-control:hover, .carousel-control:focus {
      @media (max-width: 768px) {
        color: #000;
      }
    }

    .carousel-control-prev-icon, .carousel-control-next-icon {
      &:before {
        font-size: 50px;
      }
    }
  }
}