#date-form {
  position: relative;
}
bs-datepicker-container {
  left: 0 !important;
  top: 46px;
  @media (max-width: 768px) {
    left: 50% !important;
  }
  .theme-green .bs-datepicker-head {
    background-color: transparent;
  }
  .bs-datepicker {
    flex-direction: column;
    align-items: flex-start;
    .bs-datepicker-head {
      button {
        color: #67666A;
        font-size: 107%;
        font-weight: bold;
      }
    }
    &:before {
      position: absolute;
      content: '';
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #ccc;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      top: -7px;
      left: 7px;
    }
    &:after {
      position: absolute;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid white;
      top: -6px;
      left: 8px;
    }
  }

}