body {
  .modal-dialog {
    padding-top: 0;
    margin-top: 95px;
  }
  .btn-danger.btn-fill {
    text-align: center;
  }

  a {
    cursor: pointer;
  }

  .profilePicture {
      max-width: 151px;
  }

  .label-delete {
    background-color: #e85324;
  }
  .btn-delete {
    background-color: #e85324;
    border-style: none;
  }

  .table > tbody > tr > td {
    padding: 7px;
  }

  .fa-handshake-o {
    &:before {
      content: "\f2b5";
    }
  }

  .fa {
    display: inline-block;
    width: auto;
  }

  .search-block {
    .input-block {
      @media (max-width: 995px) {
        display: inline-block;
        width: 75%;
      }
    }
    .button-block {
      @media (max-width: 995px) {
        display: inline-block;
        width: 25%;
        float: right;
      }
    }
  }

  .btn-danger {
    color: #fff;
  }

  .btn-simple {
    &:hover {
      color: #BFBFBF;
    }
  }

  .profilePicture {
    width: 28%;
    border-radius: 50%;
    @media (max-width: 1199px) {
      width: 40%;
    }
    @media (max-width: 991px) {
      width: 100px;
      height: 100px;
    }
    @media (max-width: 767px) {
      width: 87px;
      height: 87px;
    }
  }

  .team-block {
    .content-block {
      @media (max-width: 991px) {
        width: 100%;
        margin-left: 0;
        padding: 0 10px;
      }
    }
    tr {
      display: flex;
      td {
        width: 100%;
      }
      th {
        width: 100%;
      }
    }
  }

  h5 {
    &.text-white {
      margin: 0;
      font-size: 16px;
    }
  }

  .field-block {
    @media (min-width: 768px) {
      display: inline-flex;
      .column {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

  }

  .carousel-indicators {
    li {
      margin: 1px 5px;
    }
  }
  .carousel-indicators {
    .active {
      margin: 0 5px;
    }
  }

  input {
    &.ng-dirty {
      &.ng-invalid {
        border: 1px solid red;
      }
    }
  }

  .btn-span {
    cursor: pointer;
  }

}