team-select-name {
  .mat-form-field-infix {
    &:focus {
      outline: none;
    }
    .mat-select-trigger {
      &:focus {
        outline: none;
      }
    }
  }
  .mat-select-value {
    color: #FFFFFF;
  }
  p {
    line-height: 0;
    color: #FFFFFF;
  }

  .mat-form-field.mat-focused.mat-primary{
    .mat-select-arrow {
      color: #FFFFFF;
    }
  }

}