time-picker {
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    cursor: pointer;
  }
  .input-group {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    .input-group-addon {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: transparent;
      z-index: 500;
      cursor: pointer;
    }
  }
}
timepicker {
  position: absolute;
  left: 15px;
  z-index: 1000;
  display: none;
  float: left;
  width: 160px;
  padding: 5px 0;
  margin: -112px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  &:before {
    bottom: -7px;
    border-bottom: 0;
    border-top: 7px solid #999;
    left: 6px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
  }
  table {
    width: 100%;
    .bs-chevron {
      color: #333;
    }
    .btn {
      &:hover {
        text-decoration: none;
        background-color: #eee;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-color: #ddd;
      }
    }
    input {
      width: 100%;
      margin: 0;
      padding: 0;
      text-align: center;
      border-radius: 4px;
    }
    .bs-timepicker-field {
      width: 100%;
    }
  }
  &:after {
    bottom: -6px;
    border-bottom: 0;
    border-top: 6px solid #ffffff;
    left: 7px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
  }

}
time-picker .form-control[disabled], time-picker .form-control[readonly], time-picker fieldset[disabled] .form-control {
   background-color: #fffcf5;
 }