<form>
    <mat-form-field>
        <mat-select placeholder="Select team" [(ngModel)]="selectedValue" name="team">
            <mat-option *ngFor="let team of teams" [value]="team.value">
                {{team.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <p> Selected team: {{selectedValue}} </p>
</form>