<div class="modal-body">
    <form [formGroup]="form" novalidate>
        <label>First name:</label>
        <input type="text" formControlName="first_name" class="form-control text-black" placeholder="First name">
        <div *ngIf="formErrors['first_name']" class="alert alert-danger">
            {{ formErrors['first_name'] }}
        </div>
        <br>
        <label>Last name:</label>
        <input formControlName="last_name" type="text" class="form-control text-black" placeholder="Last name">
        <div *ngIf="formErrors['last_name']" class="alert alert-danger">
            {{ formErrors['last_name'] }}</div>
        <br>
        <br>
        <label>Email:</label>
        <input formControlName="email" type="text" class="form-control text-black" placeholder="Email">
        <div *ngIf="formErrors['email']" class="alert alert-danger">
            {{ formErrors['email'] }}</div>
        <br>
        <br>
        <label>Company:</label>
        <input formControlName="organization"  type="text" class="form-control text-black" placeholder="Company">
        <br>
        <label>Password:</label>
        <input formControlName="password" type="password" class="form-control text-black" placeholder="Password">
        <div *ngIf="formErrors['password']" class="alert alert-danger">
            {{ formErrors['password'] }}</div>
        <br>
        <br>
        <label>Password again:</label>
        <input type="text" formControlName="returnpassword" type="password" class="form-control text-black" placeholder="Password">
        <div *ngIf="formErrors['returnpassword']" class="alert alert-danger">
            {{ formErrors['returnpassword'] }}</div>
        <br>
        <br>
        <button type="button" class="btn btn-block btn-success actions-btn" (click)="onSubmit($event)">Add new</button>
    </form>
</div>