<nav class="navbar navbar-ct-transparent" nav-collapse role="navigation-demo" id="demo-navbar">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a [routerLink]=" ['./'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                <div class="logo-container">
                    <div >
                        <img src="assets/img/logo.png" alt="Test Logo">
                    </div>
                </div>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navigation-example-2">
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!isAuth">
                    <a [routerLink]=" ['./registration'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="btn btn-danger btn-simple">Register</a>
                </li>
                <li *ngIf="!isAuth">
                    <a [routerLink]=" ['./auth'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="btn btn-danger btn-simple">Login</a>
                </li>
                <li *ngIf="isAuth">
                    <a [routerLink]=" ['./admin'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="btn btn-danger btn-simple">Admin</a>
                </li>
                <li *ngIf="isAuth">
                    <a [routerLink]=" ['./schedule'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="btn btn-danger btn-simple">Schedule</a>
                </li>
                <li *ngIf="isAuth">
                    <a [routerLink]=" ['./meetings'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="btn btn-danger btn-simple">All meetings</a>
                </li>
                <li *ngIf="isAuth">
                    <a [routerLink]=" ['./team'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="btn btn-danger btn-simple">Team</a>
                </li>
                <li *ngIf="isAuth">
                    <a [routerLink]=" ['./profile'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}" class="btn btn-danger btn-simple">My profile</a>
                </li>
                <li *ngIf="isAuth">
                    <a (click)="logout()" class="btn btn-danger btn-simple">Logout</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-->
</nav>
<router-outlet></router-outlet>
<footer class="footer-demo section-dark">
    <div class="container" *ngIf="isFooter">
        <nav class="pull-left">
            <ul>
                <li>
                    <a [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                        About
                    </a>
                </li>
                <li>
                    <a [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                        Blog
                    </a>
                </li>
                <li>
                    <a [routerLink]=" ['./about'] " routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            Test © 2017, made with <i class="fa fa-heart heart"></i> by Taras
        </div>
    </div>
</footer>
