<br>
<div class="wrapper search-block">
    <div class="container">
        <div class="row">
            <div class="col-md-10 input-block">
                <input type="text" [(ngModel)]="searchText" class="form-control text-black" placeholder="Search">
            </div>
            <div class="col-md-2 button-block">
                <button class="btn" (click)="openModal(NewUserModal)">
                    <i class="fa fa-plus"></i>
                    Add new
                </button>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="wrapper">
    <div class="container text-white">
        <table class="table table-responsive">
            <tr>
                <th>Full name</th>
                <th>Email</th>
                <th>Company</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let user of dataList | filter : searchText; let i = index">
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td><a href="mailto:taras@cryptodaddyshop.com">{{user.email}}</a></td>
                <td>{{user.organization}}</td>
                <td><span [ngClass]="{'label-success': user.status === status.ACTIVE, 'label-warning': user.status === status.NOT_ACTIVE, 'label-delete': user.status === status.DELETED}" class="label label-success">{{user.status}}</span></td>
                <td [ngSwitch]="user.status">
                    <div *ngSwitchCase="status.ACTIVE">
                        <button class="btn btn-simple" (click)="openModal(ResetPassModal, user)">
                            <i class="fa fa-key"></i>
                            Reset password
                        </button>
                        <br>
                        <button class="btn btn-simple" (click)="openModal(DeleteUserModal, user)">
                            <i class="fa fa-trash"></i>
                            Delete User
                        </button>
                    </div>
                    <div *ngSwitchCase="status.NOT_ACTIVE">
                        <button class="btn btn-simple" (click)="openModal(VerifyUserModal, user)">
                            <i class="fa fa-thumbs-up"></i>
                            Verify user
                        </button>
                    </div>
                    <div *ngSwitchCase="status.DELETED">

                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!-- All modals -->

<ng-template #NewUserModal>
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Add new user</h4>
            </div>
            <new-user (_notifyCreateUser)="getNewUser($event)"></new-user>
            <div class="modal-footer">
                <button type="button" class="btn btn-fill btn-simple" (click)="closeModal()">Close</button>
            </div>
        </div>

    </div>
</ng-template>

<ng-template #ResetPassModal>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Reset password</h4>
            </div>
            <div class="modal-body">
                <reset-password-admin (_notifyCancel)="getNotyfay($event)"></reset-password-admin>
            </div>
            <div class="modal-footer">
                <button type="button" (click)="closeModal()" class="btn btn-fill btn-simple">Close</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #DeleteUserModal>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Delete user</h4>
            </div>
            <div class="modal-body">
                <delete-user [user]="selectUser" (_notifyCancel)="getNotyfay($event)"></delete-user>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fill btn-simple" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #VerifyUserModal>
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()">&times;</button>
                <h4 class="modal-title">Verify user</h4>
            </div>
            <div class="modal-body">
                <verify-user [user]="selectUser" (_notifyCancel)="getNotyfay($event)"></verify-user>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-fill btn-simple" (click)="closeModal()">Close</button>
            </div>
        </div>
    </div>
</ng-template>