<label>Please enter your email below:</label>
<input type="text" class="form-control text-black" placeholder="Email">
<br>
<button type="button" class="btn btn-block btn-success actions-btn" data-dismiss="modal">Reset password</button>