<h5>You are about {{title}}. Are you sure you want to do it?</h5>
<br>
<button class="btn btn-info" (click)="setCancel($event)">No, leave it</button>
<button class="btn btn-delete" (click)="setActivated($event)">Yes, {{value}}</button>