<div class="section section-nude text-center ">
    <div class="container">
        <div class="row">
            <h2>See it in action</h2>
            <carousel>
                <slide *ngFor="let src of data.src">
                    <img [src]="src" style="display: block; width: 100%;">
                </slide>
            </carousel>
            <br>
        </div>
    </div>
</div>