<div class="wrapper">
    <div class="register-background">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                    <h3 class="title text-center text-white">Please sign in</h3>

                    <div class="text-center text-white">
                        <a href="#" class="btn">
                            <i class="fab fa-windows"></i>
                            Outlook
                        </a>
                        <button class="btn g-signin2" id="googleBtn" data-onsuccess="onSignIn">
                            <i class="fab fa-google"></i>
                            Google
                        </button>
                    </div>

                    <form [formGroup]="form" novalidate class="login-form">

                        <label class="text-white">Email</label>
                        <input formControlName="email" type="email" class="form-control text-black"
                               placeholder="Email">
                        <div *ngIf="formErrors['email']" class="alert alert-danger">
                            {{ formErrors['email'] }}
                        </div>
                        <br>
                        <label class="text-white">Password</label>
                        <input formControlName="password" type="password" class="form-control text-black"
                               placeholder="Password">
                        <div *ngIf="formErrors['password']" class="alert alert-danger">
                            {{ formErrors['password'] }}
                        </div>
                        <br>
                        <div class="text-red">
                            <button (click)="onSubmit($event)"  type="submit" class="btn btn-block btn-fill">Login</button>
                        </div>
                    </form>

                    <br>
                    <div class="forgot">
                        <a class="btn btn-simple" (click)="openModal(ResetModal)">Forgot password?</a>
                    </div>

                    <ng-template #ResetModal>
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" (click)="closeModal()">&times;</button>
                                    <h4 class="modal-title">Reset password</h4>
                                </div>
                                <div class="modal-body">
                                    <forgot-password></forgot-password>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-fill btn-simple" (click)="closeModal()">Close</button>
                                </div>
                            </div>

                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>