<div class="section section-light-green text-center landing-section">
    <div class="container">
        <h2>How much does it cost?</h2>
        <div class="col-md-8 col-md-offset-2">
            <h5>£14.99 per user</h5>
            <p>There are flexible plans available for large teams</p>
            <i>Additionally, the first month of use is free</i>
        </div>
        <br>
    </div>
</div>