<div class="wrapper">
    <div class="register-background">
        <div class="container team-block">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1 content-block">
                    <h3 class="title text-center text-white">Your team</h3>
                    <div class="text-white pushRight">
                        <a (click)="openModal(AddMember)" ><u>Add new member</u></a>
                    </div>
                    <ng-template #AddMember>
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" (click)="closeModal()">&times;</button>
                                    <h4 class="modal-title">Add new member</h4>
                                </div>
                                <div class="modal-body">
                                    <new-member (_notifyAdded)="getNotifyAddMember($event)"></new-member>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-fill btn-simple" (click)="closeModal()">Close</button>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <team-select-name></team-select-name>
                    <table class="table text-white teamTable">
                        <thead>
                        <tr>
                            <th>Member</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let member of memberList; let i = index">
                            <td>
                                <img class="profilePicture" [src]="member.img"/>
                            </td>
                            <td>
                                <h5>{{member.name}}</h5>
                                <p>{{member.email}}</p>
                                <button (click)="deleteMember(i)" class="btn btn-danger btn-simple"><i class="far fa-trash-alt" aria-hidden="true"></i> Delete</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>