<div class="wrapper">
  <fm-home-header [data]="data.header"></fm-home-header>
  <fm-how-work></fm-how-work>
  <fm-how-much></fm-how-much>
  <fm-home-corusel [data]="data.carousel"></fm-home-corusel>
  <fm-home-calculator></fm-home-calculator>
  <fm-home-start></fm-home-start>
</div>
