<label>Please enter new member's email below:</label>
<form [formGroup]="form" novalidate>
    <input formControlName="email" type="email" class="form-control text-black" placeholder="Email">
    <div *ngIf="formErrors['email']" class="alert alert-danger">
        {{ formErrors['email'] }}
    </div>
    <br>
    <button type="button" (click)="onSubmit($event)" class="btn btn-block btn-success actions-btn" data-dismiss="modal">Add member</button>
</form>
